.titulo{
    margin: 24px;
}
.contenedor-principal{
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
}
.tipos{
    margin-left: 10%;
}
.title{
    color: #393939;
    text-align: start;
    font-family: Poppins;
    font-size: 22px;

}
.nombre{
    text-transform: capitalize;
    color: #26367C;
    font-family: Poppins;
    font-size: 32px;
}
.cabeza{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}
.imagen{
    display: flex;
    align-self: flex-start;
}
.imagen p{
    padding-top: 50px;
    margin-right: 10px;
}