body {
    background-color: #d1d8e5e7;
}
h1 {
    color: #e9aad1;
    font-size: 25px;
    font-family: 'Segoe UI';
    background-color: black;
    text-align: center;
}
h2 {
    color: #dff6ff;
}
p {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: brown;
}
img {
    max-width: 25%;
    max-height: 25%;
}
ol li {
    font-size: 30px;
    color: blueviolet;
}
ul li {
    color: green;
    font-weight: bold;
    background-color: #dcf539;
    text-align: center;
}
.enviar{
    border-radius: 5px;
    background-color: rgb(196, 216, 82);
    color: #fff5e9;

}
.etiqueta{
    background-color: blue;
}