body {
    background-color: #d1d8e5e7;  /*color de fondo del body*/
}
h1 {
    color: #e9aad1;       /*color del texto en h1*/
    font-size: 25px;        /*tamaño de letra*/
    font-family: 'Segoe UI';  /*tipo de letra*/
    background-color: black;    /*el fondo de esa parte el titulo*/
    text-align: center;          /*alinea el texto al centro*/
}
h2 {
    color: #dff6ff;
}
p {
    font-size: large;
    text-align: center;
    font-weight: bold;          /*font-weight da cuan bold o light sera el texto, bold es negrilla.*/
    color: brown;
}
img {
    max-width: 25%;         /*la maxima anchura y maxima altura sera el 25% de la pagina*/
    max-height: 25%;
}
ol li {                    /*para entrar a la etiqueta li desde ol*/
    font-size: 30px;
    color: blueviolet;
}
ul li {                     /* para entrar a la etiqueta li desde ul, si solo fuera en li seria en li en ul y ol, de esta forma se diferencia*/
    color: green;
    font-weight: bold;
    background-color: #dcf539;
    text-align: center;
}
.enviar{                   /*cuando se crea una clase se debe poner el punto antes*/
    border-radius: 5px;       /*le da un borde circular al cudro*/             
    background-color: rgb(196, 216, 82);
    color: #fff5e9;

}
.etiqueta{
    background-color: blue;
}