.buttons {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: flex-start;
    gap: 38px;
}

.btn-primary {
    width: 290px;
    height: 80px;
    border-radius: 10px;
    background: var(--purple);
    opacity: 0.8;
    cursor: pointer;
    border: none;
}
.btn-primary-img{
    color:--white;
}
.btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.btn-primary .btn-content p {
    color: var(--primary-background);
    font-size: var(--sm);
    font-weight: 500;
    line-height: normal;

}

.btn-secondary {
    width: 290px;
    height: 80px;
    border-radius: 10px;
    background: var(--secondary-background);
    opacity: 0.7;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-secondary .btn-content p {
    color: var(--primary-background);
    font-size: var(--sm);
    font-weight: 500;
    line-height: normal;

}

@media(max-width: 768px) {
    .buttons {
        height: 50px;
        gap: 10px;
    }
  
    .btn-primary {
        width: 190px;
        height: 50px;
    }
  
    .btn-primary-img {
        width: 15px;
        height: 15px;
    }
  
    .btn-content {
        gap: 10px;
  
    }
  
    .btn-primary .btn-content p {
        font-size: var(--xs);
        font-weight: 300;
    }
  
    .btn-secondary {
        width: 190px;
        height: 50px;
    }
  
    .btn-secondary .btn-content p {
        font-size: var(--xs);
        font-weight: 300;
    }
}