.facts {
    display: flex;
    padding: 20px 2px;
    justify-content: center;
    align-items: center;
    gap: 90px;
}


@media(max-width: 768px) {
    
    .facts {
        gap: 20px;
    }
  
   
}