.tabs {
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--secondary-background);
    gap: 50px;
}

.tabs-background-item {
    border: none;
    border-radius: 10px;
    margin: 24px;
    width: 300px;
    height: 80px;
    background: var(--secondary-background);
}

.tabs-background-item-active {
    border-radius: 10px;
    background: var(--primary-background);
    border: none;
    margin: 24px;
    width: 300px;
    height: 80px;

}

.tabs-background-item-text {
    color: var(--secondary-clear);
    font-size: var(--sm);
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

@media(max-width: 768px) {
    .tabs {
        margin: 15px;
        gap: 10px;
    }
  
    .tabs-background-item .tabs-background-item-active {
        margin: 10px;
        width: 150px;
        height: 50px;
    }
  
    .tabs-background-item-text {
        font-size: var(--xs);
        font-weight: 300;
    }
  
}